* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: solid #dadada 0.7px;
    box-shadow: silver 0px 2px 2px 0px;
    margin-bottom: 2px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.search-input {
    width: 400px;
    height: 50px;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: none;
    margin: 0 10px;
}
.input-recipe .iconSearch{
    margin-left: 10px;
}
.input-recipe .search-input {
    padding-left: 50px; 
  }

.iconSearch{
    width: 30px;
    height: 30px;
}

.menu ul {
    width: 100%px;
    display: flex;
    list-style: none;
}

.menu li {
    width: 100px;
    margin-right: 40px;
}

.menu a {
    
    text-decoration: none;
    font-size: 20px;
    color: rgb(187, 187, 187);
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #007BFF;
}


.input-recipe {
    position: relative;
    margin-right: 5px;
}

.input-recipe i {
    position: absolute;
    left: 10px;
    top: 52%;
    transform: translateY(-50%);
}

.button-recipe {
    width: 80%;
    height: 50px;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(252, 233, 236);
    color: #d35d8a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-recipe:hover {
    background-color: #ffe1fd;
}

.button-recipe i {
    margin-right: 10px;
}

.button-recipe img {
    width: 25px; 
    height: 25px;
}