.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    font-family: Arial, sans-serif;
    text-align: left;
}
  
.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section.about{
    width: 600px;
    flex: 0 0 auto;
}
  
.footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}
  
.footer-section p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 15px;
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
}
  
.footer-section ul li {
    margin-bottom: 10px;
}
  
.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 17px;
}
  
.footer-section ul li a:hover {
    color: #ff69b4;
}
  
.email-subscribe {
    display: flex;
    margin-top: 50px;
    gap: 10px;
}
  
.email-subscribe input {
    padding: 8px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
}
  
.email-subscribe button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
 }
  
.email-subscribe button:hover {
    background-color: #e55a9f;
}
  
.footer-bottom {
    display: flex;
    gap: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
}
  
.footer-logo {
    margin-bottom: 10px;
}
  
.footer-bottom p {
    font-size: 18px;
    color: #ccc;
}
  
.footer-bottom a {
    color: #ccc;
    text-decoration: none;
}
  
.footer-bottom a:hover {
    color: #ff69b4;
}