body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


.todo-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-input-container input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.todo-input-container button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.todo-input-container button:hover {
    background-color: #45a049;
}   

.todo-input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-list li span {
    flex-grow: 1;
    font-size: 18px;
    color: #333;
}

.todo-list li button {
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.todo-list li button:hover {
    background-color: #d32f2f;
}
